<div class="example-container">
    <mat-list *ngFor="let treatment of treatments" class="treatment-list">
        <mat-card class="treatment-card">
            <mat-card-content>
                <h2 class="treatment-title">Treatment ID: {{ treatment.treatmentId }}</h2>
                <mat-list>
                    <mat-list-item>
                        Patient address: {{ treatment.patientId }}
                    </mat-list-item>
                    <mat-list-item>
                        From date: {{ treatment.fromDate }} To date: {{ treatment.toDate }}
                    </mat-list-item>
                    <mat-list-item class="treatment-button">
                        <button mat-raised-button color="primary">Show treatment!</button>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </mat-list>
</div>