.example-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
}
  
.example-container > * {
    width: 100%;
}

.treatment-card {
    margin: 0 auto;
    max-width: 500px;
}

.treatment-title {
    text-align: center;
    padding-top: 20px;
    margin-bottom: -25px;
}

.treatment-list, mat-form-field {
    width: 500px;
}

.treatment-button {
    display: flex;
    justify-content: center;
    align-items: center;
}