.example-container {
    display: flex;
    flex-direction: column;
}
  
.example-container > * {
    width: 100%;
}

.login-card {
    margin: 0 auto;
    margin-top: 50px;
    max-width: 400px;
}

.login-title {
    text-align: center;
}

.login-list, mat-form-field {
    width: 400px;
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-question {
    margin-right: 20px;
}