.example-container {
    display: flex;
    flex-direction: column;
}
  
.example-container > * {
    width: 100%;
}

.change-password-card {
    margin: 0 auto;
    margin-top: 50px;
    max-width: 500px;
}

.change-password-title {
  text-align: center;
  padding-top: 20px;
}

.change-password-list, mat-form-field {
    width: 500px;
}

.change-password-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.change-password-button, button {
    margin-right: 10px;
}
