<div class="example-container">
    <h2 class="treatment-list-title">Treatment list</h2>
    <mat-card *ngFor="let treatment of treatments" class="treatment-list-card">
        <mat-card-title>Treatment ID: {{ treatment.treatmentId }}</mat-card-title>
        <mat-card-subtitle>Doctor: {{ treatment.doctorId }}</mat-card-subtitle>
        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    Diagnosis: {{ treatment.diagnosis }}
                </mat-list-item>
                <mat-list-item>
                    Prescription drugs: {{ treatment.medicine }}
                </mat-list-item>
                <mat-list-item class="treatment-list-button">
                    <button mat-raised-button color="primary" routerLink="/treatment/{{ treatment.treatmentId }}">Show treatment data!</button>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>
