<div class="example-container">
    <h2 class="admin-dashboard-title">Administrator dashboard</h2>
    <div>
        <mat-card class="admin-dashboard-card">
            <mat-card-title class="admin-dashboard-title">Change user role</mat-card-title>
            <mat-card-content>
                <form>
                    <mat-list>
                        <mat-list-item class="admin-dashboard-list">
                            <mat-form-field>
                                <input matInput placeholder="User address" [(ngModel)]="newRoleAddress" [ngModelOptions]="{standalone: true}">
                            </mat-form-field>
                        </mat-list-item>
                        <mat-list-item>
                            <mat-form-field>
                                <mat-label>User role</mat-label>
                                <mat-select [(ngModel)]="newRole" [ngModelOptions]="{standalone: true}">
                                    <mat-option value="admin">ADMIN</mat-option>
                                    <mat-option value="doctor">DOCTOR</mat-option>
                                    <mat-option value="patient">PATIENT</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-list-item>
                        <mat-list-item class="user-profile-button">
                            <button mat-raised-button color="primary" (click)="updateUserRole()">Update user role!</button>
                        </mat-list-item>
                    </mat-list>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
    <div>
        <h2 class="admin-dashboard-list-title">Doctor list</h2>
        <mat-card *ngFor="let doctor of doctors" class="admin-dashboard-card">
            <mat-card-title>{{ doctor.name }}</mat-card-title>
            <mat-card-subtitle>{{ doctor.doctorId }}</mat-card-subtitle>
            <mat-card-content>
                <mat-list>
                    <mat-list-item>
                        Doctor specialized in {{ doctor.medicalSpeciality }}, working at {{ doctor.assignedHospital}}
                    </mat-list-item>
                    <mat-list-item class="user-profile-button">
                        <button mat-raised-button color="primary" routerLink="/medical-record/{{ doctor.doctorId }}">Show doctor data!</button>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
    <div>
        <h2 class="admin-dashboard-list-title">Patient list</h2>
        <mat-card *ngFor="let patient of patients" class="admin-dashboard-card">
            <mat-card-title>{{ patient.name }}</mat-card-title>
            <mat-card-subtitle>{{ patient.patientId }}</mat-card-subtitle>
            <mat-card-content>
                <mat-list>
                    <mat-list-item>
                        Assigned to doctor: {{ patient.assignedDoctorId }}
                    </mat-list-item>
                    <mat-list-item class="user-profile-button">
                        <button mat-raised-button color="primary" routerLink="/medical-record/{{ patient.patientId }}">Show patient data!</button>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>
