<div class="example-container">
    <mat-card class="home-card">
        <mat-card-content>
            <h2 class="home-title">Welcome!</h2>
            <mat-list>
                <mat-list-item>
                    <p>Dear citizen, this is the address associated with your browser: <b>{{ blockchainAccount }}</b></p>
                </mat-list-item>
                <div *ngIf="!isAuthenticated">
                    <mat-list-item>
                        <p>Please check that it's correct, so you can access the system successfully!</p>
                    </mat-list-item>
                    <mat-list-item class="home-button">
                        <button mat-raised-button color="primary" routerLink="/login">Log in</button>
                        <button mat-raised-button color="primary" routerLink="/signup">Sign up</button>
                    </mat-list-item>
                </div>
                <div *ngIf="isAuthenticated">
                    <mat-list-item>
                        <p>Welcome to the healthcare app, you can access your data!</p>
                    </mat-list-item>
                    <mat-list-item class="home-button" *ngIf="userRole == 'patient'">
                        <button mat-raised-button color="primary" routerLink="/user-profile">My profile</button>
                        <button mat-raised-button color="primary" routerLink="/medical-record/{{ blockchainAccount }}">Medical record</button>
                        <button mat-raised-button color="primary" (click)="logout()">Log out</button>
                    </mat-list-item>
                    <mat-list-item class="home-button" *ngIf="userRole == 'doctor'">
                        <button mat-raised-button color="primary" routerLink="/user-profile">My profile</button>
                        <button mat-raised-button color="primary" routerLink="/patient-list/{{ blockchainAccount }}">My patients</button>
                        <button mat-raised-button color="primary" (click)="logout()">Log out</button>
                    </mat-list-item>
                    <mat-list-item class="home-button" *ngIf="userRole == 'admin'">
                        <button mat-raised-button color="primary" routerLink="/admin-dashboard">Administrator dashboard</button>
                        <button mat-raised-button color="primary" (click)="logout()">Log out</button>
                    </mat-list-item>
                </div>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>