<div class="example-container">
    <mat-card class="home-card">
        <mat-card-content>
            <h2 class="home-title">Welcome!</h2>
            <mat-list>
                <mat-list-item>
                    <p>Dear citizen, this is the address associated with your browser: <b>{{ blockchainAccount }}</b></p>
                </mat-list-item>
                <mat-list-item>
                    <p>Please check that it's correct, so you can access the system successfuly</p>
                </mat-list-item>
                <mat-list-item class="treatment-button">
                    <button mat-raised-button color="primary">Log in!</button>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>
    