<div class="example-container">
    <mat-card class="user-profile-card">
        <mat-card-content *ngIf="userRole == 'patient'">
            <h2 class="user-profile-title">My profile - Your role is: {{ userRole }}</h2>
            <form>
                <mat-list class="user-profile-list">
                    <mat-list-item>
                        <mat-form-field>
                            <input matInput placeholder="Name" [(ngModel)]="patient.name" [ngModelOptions]="{standalone: true}">
                        </mat-form-field>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-form-field>
                            <input matInput placeholder="Date of birth" [(ngModel)]="patient.dateOfBirth" [ngModelOptions]="{standalone: true}">
                        </mat-form-field>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-form-field>
                            <input matInput placeholder="Email" [(ngModel)]="patient.email" [ngModelOptions]="{standalone: true}">
                        </mat-form-field>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-form-field>
                            <input matInput placeholder="Phone" [(ngModel)]="patient.phone" [ngModelOptions]="{standalone: true}">
                        </mat-form-field>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-form-field>
                            <input matInput placeholder="Home address" [(ngModel)]="patient.homeAddress" [ngModelOptions]="{standalone: true}">
                        </mat-form-field>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-form-field>
                            <input matInput placeholder="City" [(ngModel)]="patient.city" [ngModelOptions]="{standalone: true}">
                        </mat-form-field>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-form-field>
                            <input matInput placeholder="Postal code" [(ngModel)]="patient.postalCode" [ngModelOptions]="{standalone: true}">
                        </mat-form-field>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-form-field>
                            <input matInput placeholder="Assigned doctor" [(ngModel)]="patient.assignedDoctor" [ngModelOptions]="{standalone: true}">
                        </mat-form-field>
                    </mat-list-item>
                    <mat-list-item class="user-profile-button">
                        <button mat-raised-button color="primary" (click)="updatePatient()">Update profile!</button>
                    </mat-list-item>
                </mat-list>
            </form>
        </mat-card-content>
        <mat-card-content *ngIf="userRole == 'doctor'">
            <h2 class="user-profile-title">My profile - Your role is: {{ userRole }}</h2>
            <form>
            <mat-list class="user-profile-list">
                <mat-list-item>
                    <mat-form-field>
                        <input matInput placeholder="Name" [(ngModel)]="doctor.name" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </mat-list-item>
                <mat-list-item>
                    <mat-form-field>
                        <input matInput placeholder="Email" [(ngModel)]="doctor.email" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </mat-list-item>
                <mat-list-item>
                    <mat-form-field>
                        <input matInput placeholder="Phone" [(ngModel)]="doctor.phone" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </mat-list-item>
                <mat-list-item>
                    <mat-form-field>
                        <input matInput placeholder="Home address" [(ngModel)]="doctor.homeAddress" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </mat-list-item>
                <mat-list-item>
                    <mat-form-field>
                        <input matInput placeholder="City" [(ngModel)]="doctor.city" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </mat-list-item>
                <mat-list-item>
                    <mat-form-field>
                        <input matInput placeholder="Postal code" [(ngModel)]="doctor.postalCode" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </mat-list-item>
                <mat-list-item>
                    <mat-form-field>
                        <input matInput placeholder="Medical speciality" [(ngModel)]="doctor.medicalSpeciality" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </mat-list-item>
                <mat-list-item>
                    <mat-form-field>
                        <input matInput placeholder="Assigned hospital" [(ngModel)]="doctor.assignedHospital" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </mat-list-item>
                <mat-list-item class="user-profile-button">
                    <button mat-raised-button color="primary" (click)="updateDoctor()">Update profile!</button>
                </mat-list-item>
                <mat-list-item class="user-profile-button">
                    <button mat-raised-button color="primary">View my patients!</button>
                </mat-list-item>
            </mat-list>
            </form>
        </mat-card-content>
        <mat-card-content *ngIf="userRole == 'admin'">
            <h2 class="user-profile-title">My profile - Your role is: {{ userRole }}</h2>
            <mat-list>
                <mat-list-item class="user-profile-button">
                    <button mat-raised-button color="primary" routerLink="/admin-dashboard">My dashboard</button>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>